body {
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  margin: 0;
  height: 2174px;
  border: 1px solid #000000;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 440px;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 auto;
}

h2 {
  color: #2d3a99;
  padding-left: 17px;
  padding-right: 17px;
}

.image {
  padding-left: 17px;
}

.text {
  color: #2d3a99;
  font-weight: 600;
}

.right {
  margin-right: 60px;
}

p {
  padding-left: 17px;
  padding-right: 17px;
}

.underlined {
  border-bottom: 1px solid #8e8e8e;
  margin-left: 17px;
  margin-right: 17px;
}

.list {
  padding-left: 17px;
}

.list li {
  display: inline-block;
  list-style: none;
  color: #2d3a99;
  font-weight: 600;
  padding: 10px 10px 0 10px;
}
